:root {
   --black: #141414;
   --red: #E50914;
}

* {
   margin: 0;
   padding: 0;
   text-decoration: none;
   box-sizing: border-box;
}
body {
   background-color: var(--black);
   color: #fff;
}
.container{
   margin: auto;
   display: flex;
   align-items: center;
}
/* Header */
header {
   height: 50px;
   display: flex;
   align-items: center;
   background: linear-gradient(to bottom, var(--black), #302E33);
}
header .container {
   width: 992px;
   justify-content: space-between;
}
header .container .logo {
   color: var(--red);
   font-family: 'Arial Black', Times;
}
header nav {
   display: flex;
   gap: 10px;
}
header nav a{
   color: #fff;
}
header nav a:hover {
   color: #aaa;
}
/* Seção filme em destaque */
.main-sec {
   background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)100%), url(../src/imgs/bg-main-movie.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}
.filme-principal {
   width: 992px;
   height: 90vh;
   margin: auto;
   display: flex;
   align-items: center;
}
.filme-principal .container{
   margin: 0;
   width: 300px;
   flex-direction: column;
   align-items: baseline;
   gap: 30px;
}
.filme-principal h2, .filme-principal p {
   text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.filme-principal h2 {
   font-size: 2rem;
}
.filme-principal p {
   color: rgba(255, 255, 255, 0.5);
}
.btns {
   display: flex;
   gap: 10px;
}
.btn1, .btn2 {
   font-weight: 600;
   padding: 10px;
   border-radius: 5px;
   display: flex;
   align-items: center;
   gap: 10px;
}
.btn1 {
   background-color: #fff;
   color: #000;
}
.btn1:hover {
   background-color: #000;
   color: #fff;
}
.btn2 {
   background-color: #8A8989;
   color: #fff;
}
.btn2:hover {
   background-color: #fff;
   color: #8A8989;
}
/* Seções de carrousel */
.row.container {
   margin-left: 5%;
   flex-direction: column;
}
.row.container h2 {
   margin: 20px 0;
   align-self: baseline;
}
.row img{
   width: 90% !important;
}
/* Footer */
footer {
   background-color: var(--red);
   color: #fff;
   height: 50px;
   display: flex;
   align-items: center;
}
.footer {
   width: 90%;
   justify-content: space-between;
}
@media screen and (max-width: 1023.9px) {
   header .container{
      width: 90%;
   }
   .filme-principal{
      width: 90%;
   }
}
@media screen and (max-width: 767.9px) {
   .main-sec {
      background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)100%), url(../src/imgs/bg-main-movie-md.jpg);
      background-size: cover;
      background-position: right;
   }
}
@media screen and (max-width: 375px){
   header .container nav {
      display: none;
   }
   .main-sec {
      background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)100%), url(../src/imgs/treding1.jpg);
      background-size: cover;
      background-position: center;
   }
}